* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #22222f;
}

label {
    display: block;
    padding: 0 15px;
    width: 400px;
    background-color: #f0f0f7;
    margin: 12px;
    border-radius: 10px;
    overflow: hidden;
    height: 60px;
    transition: .3s ease-out;
}

.title {
    position: relative;
    font-size: 18px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
}

.title i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #2e2e2e;
    transition: .15s ease-out;
}

.card_content {
    padding: 15px 0;
    word-break: break-all;
    font-size: 15px;
    border-top: 1px solid #c0c0c0;
}

#one:checked ~ .menu .one,
#two:checked ~ .menu .two,
#three:checked ~ .menu .three,
#four:checked ~ .menu .four
{
    height: 160px;
}

#one:checked ~ .menu .one i,
#two:checked ~ .menu .two i,
#three:checked ~ .menu .three i,
#four:checked ~ .menu .four i
{
    transform: rotate(180deg);
}